@font-face {
    font-family: 'Futura';
    src: url('/assets/fonts/futura/Futura\ Heavy\ font.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto/Roboto-ExtraBold.ttf');
}

@font-face {
    font-family: 'Courier-Prime';
    src: url('/assets/fonts/courier-prime/Courier\ Prime\ Bold.ttf');
}

.content {
    font-family: "Futura", Times, serif;
}

.hextra-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.hextra-scrollbar::-webkit-scrollbar-track {
    background: #111;
    border-radius: 10px;
}

.hextra-scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #ff4b2b, #ff416c);
    border-radius: 10px;
    border: 2px solid #111;
}

.hextra-scrollbar::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, #ff6a00, #ee0979);
}
