{{- $calloutEmojiDict := dict "tip" "ℹ️" "DIY" "✏️" "math" "🧮" "remark" "📍" "image" "" "trivia" "👀" "why" "🤔" "table" "🗃️" -}}
{{- $type := .Get "type" | default "default" -}}
{{- $emoji := .Get "emoji" -}}
{{- if eq $emoji "" -}}
  {{- $emoji = index $calloutEmojiDict $type -}}
{{- end -}}
{{- $icon := .Get "icon" -}}
{{- $title := .Get "title" -}}

{{/* Handle content processing based on type */}}
{{- $content := "" -}}
{{- if eq $type "image" -}}
  {{- $content = .InnerDeindent -}}
{{- else -}}
  {{- $content = .InnerDeindent | markdownify -}}
{{- end -}}

{{/* Map types to CSS classes */}}
{{- $classMap := dict 
  "default" "callout callout-default"
  "remark"  "callout callout-remark"
  "DIY" "callout callout-DIY"
  "tip" "callout callout-tip"
  "math"   "callout callout-math"
  "image" "callout callout-image"
  "trivia" "callout callout-trivia"
  "why" "callout callout-why"
  "table" "callout callout-table"
-}}

{{- $class := index $classMap $type -}}

{{- partial "shortcodes/callout.html" (dict 
  "content" $content 
  "emoji" $emoji 
  "icon" $icon 
  "title" $title
  "class" $class
) -}}