{{- $filename := .Get 0 -}}
{{- $alt := .Get 1 | default "" -}}
{{- $caption := .Get 2 | default "" -}}

{{- $staticPath := printf "static/assets/images/%s" $filename -}}

{{- if fileExists $staticPath }}
  <div class="svg-callout-container">
      <div class="svg-callout-scroll">
        <div class="svg-inner">
          {{- $content := readFile $staticPath -}}
          {{- /* Strip XML prolog and DOCTYPE before embedding */ -}}
          {{- $content = replaceRE `(?s)^\s*(<\?xml[^>]*\?>|<!DOCTYPE[^>]*>)\s*` "" $content -}}
          {{ $content | safeHTML }}
        </div>
      </div>
    {{- if $caption }}
      <div class="svg-callout-caption">{{ $caption }}</div>
    {{- end }}
  </div>
{{- else }}
  <div style="color: red;">⚠️ SVG not found at '{{ $staticPath }}'</div>
{{- end }}